[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"

[packages]
torch = "*"
torchvision = "*"
pillow = "*"
numpy = "*"
matplotlib = "*"
tqdm = "*"
click = "*"

[requires]
python_version = "3.6"
